<?xml version="1.0" encoding="utf-8"?>
<Media Key="c3a69d12-fe56-4a8b-8a65-44388b4613a7" Alias="Download" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Download</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-06T11:46:22</CreateDate>
    <NodeName Default="Download" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/csolnq0w/download.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>