<?xml version="1.0" encoding="utf-8"?>
<Content Key="c1876d7d-d927-4e6b-bbac-5d7ce72ff8c9" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-08-06T10:54:04</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="98a20fc3-a9ce-43de-ac88-4851707b76ab">HomePage</Template>
  </Info>
  <Properties>
    <colour1>
      <Value><![CDATA[#f44336]]></Value>
    </colour1>
    <colour2>
      <Value><![CDATA[#6fa8dc]]></Value>
    </colour2>
    <title>
      <Value><![CDATA[Umbraco 13 Says Hi ]]></Value>
    </title>
  </Properties>
</Content>