<?xml version="1.0" encoding="utf-8"?>
<Content Key="7339150c-66ac-4d9f-a49d-68b1f5463837" Alias="KMS" Level="2">
  <Info>
    <Parent Key="c1876d7d-d927-4e6b-bbac-5d7ce72ff8c9">Home</Parent>
    <Path>/Home/KMS</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2024-08-06T11:41:41</CreateDate>
    <NodeName Default="KMS" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="18cb5d54-11c2-42a4-89dd-c6c6934afb22">ContentPage</Template>
  </Info>
  <Properties>
    <colour3>
      <Value><![CDATA[#f44336]]></Value>
    </colour3>
    <colour4>
      <Value><![CDATA[#674ea7]]></Value>
    </colour4>
    <contentPageTitle>
      <Value><![CDATA[ Image]]></Value>
    </contentPageTitle>
    <image>
      <Value><![CDATA[[
  {
    "key": "e57c93a9-a087-4f7a-8e69-bfa76eb144aa",
    "mediaKey": "c3a69d12-fe56-4a8b-8a65-44388b4613a7"
  }
]]]></Value>
    </image>
  </Properties>
</Content>